

<div *ngIf="deletedHero; else nothigWasDeleted">
  <h3>Héroe borrado fue: <small class="text-danger"> {{deletedHero}}</small></h3>
</div>
<ng-template #nothigWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf="heroNames.length > 0"
(click)="removeLastHero()" class="btn btn-danger">
  Borrar último heroe
</button>

<br /><br />

<h3>Listado de Héroes</h3>
<ul class="mt-2 list-group">
   <li *ngFor="let name of heroNames" class="list-group-item">
     <strong>{{name}}</strong>
   </li>

</ul>
